<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leadbank.mes.dal.dao.FFundThemeConceptRoseDoMapper" >
  <resultMap id="BaseResultMap" type="com.leadbank.mes.dal.model.FFundThemeConceptRoseDo" >
    <id column="THEME_CONCEPT_ROSE_ID" property="themeConceptRoseId" jdbcType="VARCHAR" />
    <result column="THEME_ID" property="themeId" jdbcType="VARCHAR" />
    <result column="WORKDAY" property="workday" jdbcType="VARCHAR" />
    <result column="WEEK_ROSE" property="weekRose" jdbcType="DECIMAL" />
    <result column="MONTH_ROSE" property="monthRose" jdbcType="DECIMAL" />
    <result column="QUARTER_ROSE" property="quarterRose" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    THEME_CONCEPT_ROSE_ID, THEME_ID, WORKDAY, WEEK_ROSE, MONTH_ROSE, QUARTER_ROSE, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from MFUND.F_FUND_THEME_CONCEPT_ROSE
    where THEME_CONCEPT_ROSE_ID = #{themeConceptRoseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from MFUND.F_FUND_THEME_CONCEPT_ROSE
    where THEME_CONCEPT_ROSE_ID = #{themeConceptRoseId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.leadbank.mes.dal.model.FFundThemeConceptRoseDo" >
    insert into MFUND.F_FUND_THEME_CONCEPT_ROSE (THEME_CONCEPT_ROSE_ID, THEME_ID, WORKDAY, 
      WEEK_ROSE, MONTH_ROSE, QUARTER_ROSE, 
      CREATE_TIME)
    values (#{themeConceptRoseId,jdbcType=VARCHAR}, #{themeId,jdbcType=VARCHAR}, #{workday,jdbcType=VARCHAR}, 
      #{weekRose,jdbcType=DECIMAL}, #{monthRose,jdbcType=DECIMAL}, #{quarterRose,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.leadbank.mes.dal.model.FFundThemeConceptRoseDo" >
    insert into MFUND.F_FUND_THEME_CONCEPT_ROSE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="themeConceptRoseId != null" >
        THEME_CONCEPT_ROSE_ID,
      </if>
      <if test="themeId != null" >
        THEME_ID,
      </if>
      <if test="workday != null" >
        WORKDAY,
      </if>
      <if test="weekRose != null" >
        WEEK_ROSE,
      </if>
      <if test="monthRose != null" >
        MONTH_ROSE,
      </if>
      <if test="quarterRose != null" >
        QUARTER_ROSE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="themeConceptRoseId != null" >
        #{themeConceptRoseId,jdbcType=VARCHAR},
      </if>
      <if test="themeId != null" >
        #{themeId,jdbcType=VARCHAR},
      </if>
      <if test="workday != null" >
        #{workday,jdbcType=VARCHAR},
      </if>
      <if test="weekRose != null" >
        #{weekRose,jdbcType=DECIMAL},
      </if>
      <if test="monthRose != null" >
        #{monthRose,jdbcType=DECIMAL},
      </if>
      <if test="quarterRose != null" >
        #{quarterRose,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leadbank.mes.dal.model.FFundThemeConceptRoseDo" >
    update MFUND.F_FUND_THEME_CONCEPT_ROSE
    <set >
      <if test="themeId != null" >
        THEME_ID = #{themeId,jdbcType=VARCHAR},
      </if>
      <if test="workday != null" >
        WORKDAY = #{workday,jdbcType=VARCHAR},
      </if>
      <if test="weekRose != null" >
        WEEK_ROSE = #{weekRose,jdbcType=DECIMAL},
      </if>
      <if test="monthRose != null" >
        MONTH_ROSE = #{monthRose,jdbcType=DECIMAL},
      </if>
      <if test="quarterRose != null" >
        QUARTER_ROSE = #{quarterRose,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where THEME_CONCEPT_ROSE_ID = #{themeConceptRoseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leadbank.mes.dal.model.FFundThemeConceptRoseDo" >
    update MFUND.F_FUND_THEME_CONCEPT_ROSE
    set THEME_ID = #{themeId,jdbcType=VARCHAR},
      WORKDAY = #{workday,jdbcType=VARCHAR},
      WEEK_ROSE = #{weekRose,jdbcType=DECIMAL},
      MONTH_ROSE = #{monthRose,jdbcType=DECIMAL},
      QUARTER_ROSE = #{quarterRose,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where THEME_CONCEPT_ROSE_ID = #{themeConceptRoseId,jdbcType=VARCHAR}
  </update>
</mapper>